<h1>Restaurantes Asociados</h1>

<% @restaurant_users.each do |restaurant_user| %>
	<p><%= restaurant_user.restaurant.name %> - <%= restaurant_user.user_type %></p>
<% end %>

<%= link_to 'Apuntarte a otro restaurante', select_restaurant_path %>