<div>
	<p>Chateando con <%= conversation.with(current_user).user_name %>
	<br>
		<em><%= conversation.personal_messages.last.body.truncate(50) %></em>
	<br>
	</p>
		<%= link_to 'Ver Conversacion', conversation_path(conversation), :class => 'boton grey' %>
	<hr>
</div>