<div class="title">Conversaciones de Chat</div>
<div class="muestra-tabla-conversacion">
	<%= render @users %>
</div>
<div class="conversation">
	<%= render @conversations %>
</div>
<div class="explain">
	
</div>