<div class="title">Seleccione una de las siguientes estadísticas</div>
</br>
<div class="statistic">
	<% if @current_role == 3 %>
		<%= link_to statistics_best_seller_product_index_path do %>
			<div class="statistics">
				<div class="imagen">
					<%= image_tag('estadistica_gastos_restaurante.png', :alt => 'estadistica_gastos_restaurante')%>
				</div>
				<p>En esta segunda opción el Gerente del restaurante al que esta registrado podrá ver los usuarios que mas comandas han realizado en el restaurante en un rango de tiempo seleccionado. Tambien se mostrará el total de gastos de dicho usuario el rango seleccionado. Todos los datos serán explicitos al detalle</p>
			</div>
		<% end %>
		<%= link_to statistics_votings_path do %>
			<div class="statistics">
				<div class="imagen">
					<%= image_tag('estadisticas_votaciones.png', :alt => 'estadisticas_votaciones')%>
				</div>
				<p>En esta cuarta opción el Gerente del restaurante al que esta registrado podrá ver las votaciones de los cuestionarios que los clientes de forma anonima realizan en el restaurante en un rango de fechas. Dicha operación se calculará sumando todas las notas de las votaciones de cada una de las cuestiones y dividiendolo entre el número de votaciones. Todos los datos serán explicitos al detalle</p>
			</div>
		<% end %>
	<% end %>
</div>