<div class="title"> <a class="italic">Curricula</a> del Restaurante '<%= @current_restaurant.name %>'</div>
<div class="vista">
	<div class="pater">
		<% cont = 0 %>
		</br><% @current_restaurant.curriculums.each do |curriculum| %>
			<%= link_to curriculum.file.url do %>
				<% cont += 1 %>
				<div>
					<div class="imagen">
						<%= image_tag('pdf.png', :alt => 'pdf')%><p><%= cont %>ยบ</p>
					</div>
				</div>
			<% end %>
		<% end %>
		</br></br></br>
	</div>
</div>