<div class="title">Editar Stock</div>

<%= render 'form' %>

<p>
  <%= link_to "Show", @stock %> |
  <%= link_to "Destroy", @stock, :method => :delete, data: { confirm: "Are you sure?"} %> |
  <%= link_to "View All", stocks_path %>
</p>
