<h1>Cuestionarios del restaurante</h1>

<div class ="muestra-tabla">
	<table class="pretty">
	      <tr>
	            <th>Pregunta</th>
	            <th>Restaurante</th>
	      </tr>
	      <% @questionnaires.each do |questionnaire| %>
	            <tr>
	                  <td><%= questionnaire.question %></td>
	                  <td><%= questionnaire.restaurant.name %></td>                  
	            </tr>
	      <% end %>
	</table>
	<%= will_paginate @questionnaires %>
</div>

<div class="muestra-opciones">
	<%= render 'form' %>
</div>
