<div class="title">Cuestionarios del Restaurante</div>

<div class ="muestra-tabla">
	<table class="pretty">
		<thead>
			<tr>
			    <th>Pregunta</th>
			    <th>Restaurante</th>
			</tr>
		</thead>
		<tbody>
			<% @questionnaires.each do |questionnaire| %>
			    <tr>
					<td><%= questionnaire.question %></td>
					<td><%= questionnaire.restaurant.name %></td>                  
			    </tr>
			<% end %>
		</tbody>
		<tfoot>
			<%= will_paginate @questionnaires %>
		</tfoot>
	</table>
</div>

<div class="muestra-opciones">
	<div class="accion">Nuevo Cuestionario</div>
	<%= render 'form' %>
</div>
