<div class="title">Cuestionarios del Restaurante</div>
</br>
<div class ="muestra-tabla">
	<table class="tabla2">
		<thead>
			<tr class="tabla2">
			    <th class="tabla2" title="Preguntas que elabora el gerenete del restaurante para obtener datos relevantes de su Restaurante">Pregunta</th>
			    <th class="tabla2" title="Nombre del Restaurnate al que pertenece la pregunta">Restaurante</th>
			</tr>
		</thead>
		<tbody>
			<% @questionnaires.each do |questionnaire| %>
			    <tr class="tabla2">
					<td class="tabla2"><%= questionnaire.question %></td>
					<td class="tabla2"><%= questionnaire.restaurant.name %></td>
					<td><%#= link_to "Eliminar", questionnaires_path(questionnaire), :method => :delete, data: { confirm: "¿Está seguro que desea eliminar?"} %>  <%#= link_to "Modificar", edit_questionnaire_path(@questionnaire) %></td>  

			    </tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr class="tabla2">
				<th class="tabla2" colspan="2">
					<%= will_paginate @questionnaires %>
				</th>
			</tr>
		</tfoot>
	</table>
</div>

<div class="muestra-opciones">
	</br><div class="accion">Nuevo Cuestionario</div>
	<%= render 'form' %>
</div>
