<div class="title">Cuestionarios del Restaurante</div>
</br>
<div class ="muestra-tabla">
	<table class="pretty">
		<thead>
			<tr>
			    <th>Pregunta</th>
			    <th>Restaurante</th>
			</tr>
		</thead>
		<tbody>
			<% @questionnaires.each do |questionnaire| %>
			    <tr>
					<td><%= questionnaire.question %></td>
					<td><%= questionnaire.restaurant.name %></td>
					<td><%#= link_to "Eliminar", @questionnaire, :method => :delete, data: { confirm: "¿Está seguro que desea eliminar?"} %> | <%#= link_to "Modificar", edit_questionnaire_path(@questionnaire) %></td>  

			    </tr>
			<% end %>
		</tbody>
		<tfoot>
			<%= will_paginate @questionnaires %>
		</tfoot>
	</table>
</div>

<div class="muestra-opciones">
	</br><div class="accion">Nuevo Cuestionario</div>
	<%= render 'form' %>
</div>
