/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p {
	font-size: 17px;
}

header{
	height: 200px;
	text-align: right;
	background-image: url("logoAPP.jpg");
}

body
{
	font-family: Georgia, Cambria, Times, "Times New Roman";
	background-image: url("background.jpg");
}

@font-face {
    font-family: logoFont;
    src: url(noteTheCommand.ttf);
}

@font-face {
    font-family: logoFont;
    src: url(noteTheCommand.ttf);
    font-weight: bold;
}

div.p1 {
    font-family: logoFont;
    text-align: center;		
    font-size: 90px;
    color: white;
}

div.contacto {
    font-family: logoFont;
    text-align: center;		
    font-size: 35px;
    color: white;
}

@font-face {
    font-family: titleFont;
    src: url(tituloCabecera.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(tituloCabecera.ttf);
    font-weight: bold;
}

div.title {
	font-family: titleFont;
	text-align: center;
	font-size: 50px;
	color: white;
}

@font-face {
    font-family: accionesFont;
    src: url(titulosAcciones.ttf);
}

@font-face {
    font-family: accionesFont;
    src: url(titulosAcciones.ttf);
    font-weight: bold;
}

div.accion {
    font-family: accionesFont;
    text-align: center;		
    font-size: 30px;
    color: white;
}

.muestra-tabla-anonimous {
	float: left;
	text-align: center;
	top: 35%;
	width: 50%;
}

.muestra-tabla-login {
	float: left;
	text-align: center;
	top: 35%;
	width: 50%;
}

.muestra-tabla {
	float: left;
	text-align: center;
	top: 35%;
	width: 70%;
}

.muestra-opciones {
	float: left;
	text-align: center;
	top: 35%;
	width: 30%;
}

h1 {
	text-align: center;
	font-size: x-large;
	font-family: verdana;
	color: white;
}

@font-face {
    font-family: accionesTitulos;
    src: url(titulo.ttf);
}

@font-face {
    font-family: accionesTitulos;
    src: url(titulo.ttf);
    font-weight: bold;
}

div.sesion {
	background-image: url("papiro.png");
    font-family: accionesTitulos;
    padding-left: 10px;
    text-align: center;	
    font-size: 17px;
    float: right;
    color: black;
    height: 110px;
    width: 170px;
}

footer {
	clear: both;
	background-image: url("fondoFooter.jpg");
	text-align: center;
	padding: 20px;
	color: white;
	height: 70px;
	border: 1px solid white;
}

div.uam {
	padding-right: 10%;
    float: right;
    height: 10%;
    width: 10%;
}

div.eps {
	padding-left: 5%;
    float: left;
    height: 10%;
    width: 10%;
}

section {
	text-align: center;
	/*height: 520px;*/
	height: 100%;
}

.menu {
	padding: 30px;
}


/*Menu deplegable*/
nav {
	text-align: center;
	font-size: 17px;
}

nav ul ul {
	display: none;
}
 
nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}
nav ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav ul li:hover a {
	color: #fff;
}
	
nav ul li a {
	display: block; padding: 10px 40px;
	color: #757575; text-decoration: none;
}
 
nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
nav ul ul li a {
	padding: 10px 40px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: #4b545f;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.boton{
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	text-align:center;
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	display:inline-block;
	color: #FFF;
	background: #7F8C8D;
	padding: 6px 15px;
	white-space: nowrap;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 0.2px solid white;
}

.grey{
  background: #585858;
}

.grey:hover{
  background: #2E2E2E;
}

label {
  display: block;
  margin: .5em 0 0 0;
}

.field {
    font-family: accionesTitulos;
    font-size: 16px;
}

/* Clase que tendra el tooltip */  
.cssToolTip {
	position: static; /* Esta clase tiene que tener posicion relativa */
	color: white; /* Color del texto */
	cursor: progress;
}
 
/* El tooltip */
.cssToolTip span {
	background: rgba(20,20,20,0.9) url('information.png') left 5px no-repeat;
	border: 2px solid #87cefa;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #333;
	color: #87cefa;
	display: none; /* El tooltip por defecto estara oculto */
	font-size: 13px;
	padding: 10px 10px 10px 40px;
	max-width: 750px;
	position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
	top: 50%; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
	left: 3%; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
	z-index: 100; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
}
 
/* El tooltip cuando se muestra */
.cssToolTip:hover span {
	display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
}