// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Le dice al navegador que dibuje los elementos de HTML 5 como block */

.muestra-blog {
	float: left;
	text-align: center;
	top: 35%;
	width: 790px;
}

.muestra-comentario {
	float: left;
	text-align: center;
	top: 35%;
	width: 500px;
}