// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Le dice al navegador que dibuje los elementos de HTML 5 como block */

.muestra-blog {
	float: left;
	overflow:hidden;
    background-image: url("fondoBlancoStart.jpg");
	text-align: center;
	top: 35%;
	width: 70%;
}

.muestra-blogs {
	float: left;
	background-image: url("blog_lateral.jpg");
	overflow:hidden;
	text-align: center;
	top: 35%;
	width: 30%;
}

div.accion-blog {
    font-family: accionesFont;
    text-align: center;		
    font-size: 60px;
    color: black;
}