// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contenedor_tab {
	float:left;
	clear:both;
	width:100%;
	height: 450px;
	padding:0px;
	margin:0 auto;
	display:block;
	background:#ccc;
	border:1px solid #333;
	-moz-border-radius:0 0 7px 7px;
	-webkit-border-radius:0 0 7pc 7px;
	border-radius: 0 0 7px 7px;
}

ul.tabs {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	height:32px;
	width:900px;
	margin-top:-7px;
}

ul.tabs li {
	float:left;
	margin:0;
	padding:0;
	height:31px;
	line-height:31px;
	border:1px solid #333;
	margin-bottom:-1px;
	background:#333;
	overflow:hidden;
	border:1px solid #333;
	-moz-border-radius:7px 7px 0 0;
	-webkit-border-radius:7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}

ul.tabs li a {
	text-decoration:none;
	color:#fff;
	display:block;
	font-size:13px;
	padding:0 20px;
	border:1px solid #fff;
	outline:none;
	-moz-border-radius:7px 7px 0 0;
	-webkit-border-radius:7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}

ul.tabs li a:hover{
	background:#666;
}
ul.tabs li.activa,ul.tabs li.activa a,ul.tabs li.activa a:hover {
	color:#333;
	font-weight:bold;
	background:#ccc;
	border-bottom:1px solid #ccc;
}

.contenido_tab {
	padding:10px;
	font-size:1.2em;
	width:99%;
}

.contenido_tab img {
	margin:0 20px 20px 0;
	border:1px solid #ddd;
	padding:5px
}







table.tabla1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px; 
	margin: 15px;
	width:98%;
	text-align: center;
	border_collapse: collapse;
}

th.tabla1 {
	font-size: 15px;
	font-weight: normal;
	padding: 8px;
	background: #4b545f;
	border-botton: 1px solid #fff;
	color: #ffffff;
}

td.tabla1 {
	padding: 8px;
	background: #bbbbbb;
	border-botton: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

td.tabla1.contenido {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

tr.tabla1:hover td.tabla1 {
	background: #d0dafd;
	color: #339;
}

//Tabla de mensajeria
table.tabla4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: center;
	width: 100%;
    border: 1px solid black;
    border_collapse: collapse;
}

th.tabla4 {
	background: #585858;
	font-weight: normal;
	font-size: 15px;
	color: white;
	border: 1px solid black;
} 

td.tabla4 {
	font-size: 10px;
	color: black;
	border: 1px solid black;

	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden; 
}

td.tabla4:hover {
  width: auto;
  white-space: initial;
  overflow:visible;
  cursor: pointer;
}


td.b1 {
	background-color:red;
	color: black;
	border: 1px solid black;
}

td.b2 {
	background-color:green;
	color: black;
	border: 1px solid black;
}

td.b3 {
	background-color:#F4FA58;
	color: black;
	border: 1px solid black;
}

td.b4 {
	background-color:#58ACFA;
	color: black;
	border: 1px solid black;
}