// Place all the styles related to the incidences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.b1 {
	background-color:red;
	color: black;
	border: 1px solid black;
}

td.b2 {
	background-color:green;
	color: black;
	border: 1px solid black;
}

//Colores Jerarquia Incidencias: #4F2F4F, #990099, #EE82EE, #EAADEA, #EED2EE
td.inc1 {
	background-color: #4F2F4F;
	color: white;
	border: 1px solid black;
}

td.inc2 {
	background-color: #990099;
	color: black;
	border: 1px solid black;
}

td.inc3 {
	background-color: #EE82EE;
	color: black;
	border: 1px solid black;
}

td.inc4 {
	background-color: #EAADEA;
	color: black;
	border: 1px solid black;
}

td.inc5 {
	background-color: #EED2EE;
	color: black;
	border: 1px solid black;	
}

#hijo5 {
    margin: 0 auto;    
    background-image: url("fondoBlancoStart.jpg");
	text-align: center;
	padding-left: 20px;
	top: 35%;
	width: 39%;
	max-height: 600px;
	overflow:auto;
	margin-bottom: 2em;
	border-radius: 16px 16px;
	border-color: #444444;
	border-style: solid;
	box-shadow: 2px 2px 10px #B1B1B1;
	margin-top: 25px;
	border-width: 7px;
}

#hijo9 {
    margin: 0 auto;    
    background-image: url("fondoBlancoStart.jpg");
	text-align: center;
	top: 35%;
	width: 25%;
	max-height: 600px;
	overflow:auto;
	margin-bottom: 2em;
	border-radius: 16px 16px;
	border-color: #444444;
	border-style: solid;
	box-shadow: 2px 2px 10px #B1B1B1;
	margin-top: 25px;
	border-width: 7px;
}


#container3 {
	max-width: 600px;
	height: 15px;
	overflow: hidden;
	overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}