// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.muestra-menus {
	float: left;
	text-align: center;
	top: 35%;
	width: 300px;
}

.muestra-tabla-menus {
	float: left;
	text-align: center;
	top: 35%;
	width: 700px;
}

.muestra-eleccion {
float: left;
	text-align: center;
	top: 35%;
	width: 200px;
}