// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.contacto-menu {
    font-family: logoFont;
    text-align: center;   
    font-size: 35px;
    color: black;
}

.menu {
    width: 95.5%;
    overflow:hidden;
    background-image: url("fondoBlancoStart.jpg");
    border: 1px solid black;
}

div.menu_accion {
    font-family: accionesFont;
    text-align: center;		
    font-size: 40px;
    color: black;
}

.muestra-menus {
	float: left;
	text-align: center;
	top: 35%;
	width: 25%;
}

.muestra-tabla-menus {
	background-image: url("pizarra.jpg");
    background-position: center;
	width: 50%;
    overflow:hidden;
	float: left;
	text-align: center;
}

.muestra-eleccion {
	float: left;
	text-align: center;
	top: 35%;
	width: 25%;
}

@font-face {
    font-family: menuFont;
    src: url(menu.ttf);
}

@font-face {
    font-family: menuFont;
    src: url(menu.ttf);
    font-weight: bold;
}

div.letra_menu {
    font-family: menuFont;
    text-align: center;		
    font-size: 55px;
    color: white;
}

div.menu_tipo {
    font-family: menuFont;
    text-align: center;
    font-size: 25px;
    color: white;
}

div.menu_tipo_seleccion {
    font-family: logoFont;
    text-align: center;
    font-size: 25px;
    color: white;
}






body {
      font-family:Arial;
      font-size: 13px;
    }
    .cajaexterna {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        display: none;
        left: 0;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
    }
    .cajainterna {
        background: #fff;
        margin: 6em auto 0;
        position: relative;
        width: 90%;
    }
    .cajacentrada {
        margin: 0 auto;
        text-align: center;
        padding: 1em;
    }
    .cajacentrada h2 {
        background: none repeat scroll 0 0 grey;
        box-sizing: border-box;
        color: white;
        font-size: 15px;
        left: 0;
        margin: 0;
        padding: 5px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 100%;
    }
    .cajacentrada p {
        margin-top: 30px;
    }
    .cerrar {
        position: absolute;
        right: 16px;
        top: 13px;
    }
    
    /* Animaciones */
    
    .animated {
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
    }
    
    .animated.infinite {
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }
    @keyframes bounceIn {
      0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
    
      0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);
      }
    
      20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1);
      }
    
      40% {
        -webkit-transform: scale3d(.9, .9, .9);
                transform: scale3d(.9, .9, .9);
      }
    
      60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
                transform: scale3d(1.03, 1.03, 1.03);
      }
    
      80% {
        -webkit-transform: scale3d(.97, .97, .97);
                transform: scale3d(.97, .97, .97);
      }
    
      100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
      }
    }
    
    .bounceIn {
      -webkit-animation-name: bounceIn;
              animation-name: bounceIn;
      -webkit-animation-duration: .75s;
              animation-duration: .75s;
    }
    .element.bounceIn {    
        -webkit-animation: bounceIn .7s 1;
        -moz-animation: bounceIn .7s 1;
        -o-animation: bounceIn .7s 1;
        animation: bounceIn .7s 1;
    }