// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.contacto-menu {
    font-family: logoFont;
    text-align: center;   
    font-size: 35px;
    color: black;
}

.menu {
    width: 100%;
    overflow:hidden;
    background-image: url("fondoBlancoStart.jpg");
    border: 1px solid black;
}

div.menu_accion {
    font-family: accionesFont;
    text-align: center;		
    font-size: 40px;
    color: black;
}

.muestra-menus {
	float: left;
	text-align: center;
	top: 35%;
	width: 25%;
}

.muestra-tabla-menus {
	background-image: url("pizarra.jpg");
    background-position: center;
	width: 50%;
    overflow:hidden;
	float: left;
	text-align: center;
}

.muestra-eleccion {
	float: left;
	text-align: center;
	top: 35%;
	width: 25%;
}

@font-face {
    font-family: menuFont;
    src: url(menu.ttf);
}

@font-face {
    font-family: menuFont;
    src: url(menu.ttf);
    font-weight: bold;
}

div.letra_menu {
    font-family: menuFont;
    text-align: center;		
    font-size: 55px;
    color: white;
}

div.menu_tipo {
    font-family: menuFont;
    text-align: center;
    font-size: 25px;
    color: white;
}

div.menu_tipo_seleccion {
    font-family: logoFont;
    text-align: center;
    font-size: 25px;
    color: white;
}

.menufont {
    text-align: center;
    top: 35%;
    width: 100%;
    overflow:auto;
    margin: 0 auto;    
    background-image: url("fondoAmarilloClaro.jpg");
    margin-bottom: 2em;
    border-radius: 16px 16px;
    border-color: #444444;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 2px;
}