// Place all the styles related to the personal_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat {
    list-style: none;
    background: none;
    margin: 0;
    margin-bottom: 10px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    overflow:   auto;
    bottom:     0;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
    content: "";
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    overflow:   auto;
    bottom:     0;
    box-shadow: 1px 2px 0px #D4D4D4;
}
.self .avatar {
    order: 2;
}
.self .avatar:after {
    content: "";
    display: inline-block;
    bottom: 19px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #D4D4D4;
}

.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
}

.comentar-chat {
	float: left;
	background-image: url("fondoBlancoStart.jpg");
	overflow:hidden;
	text-align: center;
	top: 35%;
	width: 28%;
	border: 2px solid black;
}

.css-style {
border-radius: .5em;
}