// Place all the styles related to the productos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.productos-asociados {
	float: left;
	text-align: center;
	top: 35%;
	height: 300px;
	width: 550px;
	border: 1px solid white;
}

.botonera-productos {
	float: left;
	text-align: center;
	top: 35%;
	height: 300px;
	width: 700px;
	border: 1px solid white;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px; 
	margin: 30px;
	width:580px;
	text-align: center;
	border_collapse: collapse;
}

th {
	font-size: 10px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-botton: 1px solid #fff;
	color: #039;
}

td {
	padding: 8px;
	background: #e8edff;
	border-botton: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

tr:hover td {
	background: #d0dafd;
	color: #339;
}