// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: titleProfile;
    src: url(coolvetica.ttf);
}

@font-face {
    font-family: titleProfile;
    src: url(coolvetica.ttf);
    font-weight: bold;
}

div.accion-perfil {
    font-family: titleProfile;
    text-align: center;		
    font-size: 50px;
    color: black;
}

div.accion-perfil2 {
    font-family: titleProfile;
    text-align: center;     
    font-size: 30px;
    color: black;
}

div.p2 {
    font-family: accionesTitulos;
    text-align: left; 
    font-size: 30px;
    color: black;
}

.profile {
	font-family: Georgia, Cambria, Times, "Times New Roman";
    width: 100%;
    overflow:hidden;
    background-image: url("fondoBlancoStart.jpg");
    border: 1px solid black;
}

#profile_info {
	padding-left: 120px;
	float: left;
	text_align: center;
	width: 50%;
}

h3 {
	font-text: 15px;
	color: white;
}

#logo_profile{
	position: relative;
	left: 80px;
	float: left;
	height: 250px;
	width: 250px;
	border: 1px solid black;
}