// Place all the styles related to the restaurants_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centradoVertical {
	vertical-aligned: middle;
	margin-top: right;
}

.chatbox {
	display:none;
}

#mostrar{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//Table app comanda del restaurante usuario
table.tabla2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px; 
	margin: 15px;
	width:98%;
	text-align: center;
	border_collapse: collapse;
}

th.tabla2 {
	font-size: 15px;
	font-weight: normal;
	padding: 8px;
	background: #4b545f;
	border-botton: 1px solid #fff;
	color: #ffffff;
}

td.tabla2 {
	padding: 8px;
	background: #bbbbbb;
	border-botton: 1px solid #fff;
	color: #669;
	white-space: nowrap;
	border-top: 1px solid transparent;
}

td.tabla2.contenido {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

tr.tabla2:hover td.tabla2 {
	background: #d0dafd;
	color: #339;
}


