// Place all the styles related to the restaurants_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centradoVertical {
	vertical-aligned: middle;
	margin-top: right;
}

#agrupaSesion {

	clear: both;
	text-align: right;
	font-weight: bold;
}

#agrupaSelectRest {
	position: absolute;
	top: 50%;
	left: 38%;
	height: 150px;
	width: 250px;
	margin: -15% O O -25%;
}

h2 {
	text-align: center;
	color: white;
}

.muestra-tabla {
float: left;
	text-align: center;
	top: 35%;
	height: 422px;
	width: 580px;
}

.muestra-opciones {
	float: left;
	text-align: center;
	top: 35%;
	height: 422px;
	width: 700px;
}

.chatbox {
	display:none;
}

a.mostrar{
	
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px; 
	margin: 15px;
	width:545px;
	text-align: center;
	border_collapse: collapse;
}

th {
	font-size: 10px;
	font-weight: normal;
	padding: 8px;
	background: #4b545f;
	border-top: 4px solid #F80A0A;
	border-botton: 1px solid #fff;
	color: #ffffff;
}

td {
	padding: 8px;
	background: #bbbbbb;
	border-botton: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

tr:hover td {
	background: #d0dafd;
	color: #339;
}

