// Place all the styles related to the restaurants_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centradoVertical {
	vertical-aligned: middle;
	margin-top: right;
}

#agruparLogin {
	text-align: center;
	position: absolute;
	top: 35%;
	left: 44%;
	height: 190px;
	width: 180px;
	margin: -15% O O -25%;
	border: 1px solid white;
}

#agruparRegistro {
	text-align: center;
	position: absolute;
	top: 35%;
	left: 38%;
	height: 300px;
	width: 300px;
	margin: -15% O O -25%;
	border: 1px solid white;
}

#agruparForget {
	text-align: center;
	position: absolute;
	top: 35%;
	left: 40%;
	height: 120px;
	width: 250px;
	margin: -15% O O -25%;
	border: 1px solid white;
}

#agrupaSesion {

	clear: both;
	text-align: right;
	font-weight: bold;
}

#agrupaSelectRest {
	position: absolute;
	top: 50%;
	left: 38%;
	height: 150px;
	width: 250px;
	margin: -15% O O -25%;
}

h2 {
	text-align: center;
	color: white;
}

.muestra-tabla {
float: left;
	text-align: center;
	top: 35%;
	height: 360px;
	width: 580px;
	border: 1px solid white;
}

.muestra-opciones {
	float: left;
	text-align: center;
	top: 35%;
	height: 360px;
	width: 700px;
	border: 1px solid white;
}

.chatbox {
	display:none;
}

a.mostrar{
	
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px; 
	margin: 15px;
	width:545px;
	text-align: center;
	border_collapse: collapse;
}

th {
	font-size: 10px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-botton: 1px solid #fff;
	color: #039;
}

td {
	padding: 8px;
	background: #9C7ADC;
	border-botton: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

tr:hover td {
	background: #d0dafd;
	color: #339;
}