// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.start {
    width: 100%;
    background-image: url("fondoBlancoStart.jpg");
    border: 1px solid black;
    overflow:hidden;
}
	
.starts {
	float: left;		
    font-size: 17px;
    color: black;
    height: 130px;
    width: 355.4px;
    border: 0.5px solid black;
}

.imagen {
    float: left;
    vertical-align: middle;
    width: auto;
}

.clear {
    clear: both;
}