// Place all the styles related to the statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.statistic {
    width: 100%;
    overflow:hidden;
    background-image: url("fondoBlancoStart.jpg");
    border: 1px solid black;
}
	
.statistics {
	float: left;		
    font-size: 20px;
    color: black;
    height: 200px;
    width: 49.84%;
    border: 0.5px solid black;
}

.clear {
    clear: both;
}

@font-face {
    font-family: acciones;
    src: url(coolvetica.ttf);
}

@font-face {
    font-family: acciones;
    src: url(coolvetica.ttf);
    font-weight: bold;
}

div.titleStattistics {
    font-family: acciones;
    text-align: center;     
    font-size: 28px;
    color: black;
}