// Place all the styles related to the statistics_best_seller_product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.estat {
	width:100%; 
	height:100%;	
}

#cont2 {
	width: 100%;
	overflow: hidden;
	overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

#contenidoTabla {
	width: 40%;
	float:left
}

