// Place all the styles related to the takeaways controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.muestra-tabla-pedido {
    text-align: center;
    top: 35%;
    width: 100%;
    margin: 0 auto;    
    background-image: url("fondoAmarilloClaro.jpg");
    margin-bottom: 2em;
    border-radius: 16px 16px;
    border-color: #444444;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 2px;
}

.takeaway {
    width: 100%;
    float:left;
    overflow:hidden;
    background-image: url("fondoBlancoStart.jpg");
    border: 1px solid black;
}

.takeawayTotal {
    width: 100%;
    float:left;
}


div.takeaway_accion {
    font-family: acciones;
    text-align: center;		
    font-size: 30px;
    color: black;
}

div.takeaway_tipo_seleccion {
    font-family: logoFont;
    text-align: center;
    font-size: 25px;
    color: white;
}

.muestra-takeaways {
	float: left;
	text-align: center;
	top: 25%;
	width: 25%;
}

.muestra-tabla-takeaways {
	background-image: url("pedido.jpg");
    background-position: center;
	width: 50%;
    overflow:hidden;
	float: left;
	text-align: center;
}

.muestra-tabla-takeaways2 {
    background-position: center;
    width: 20%;
    overflow:hidden;
    float: left;
    text-align: center;
}

.muestra-eleccion {
	float: left;
	text-align: center;
	top: 35%;
	width: 25%;
}

@font-face {
    font-family: menuFont;
    src: url(menu.ttf);
}

@font-face {
    font-family: menuFont;
    src: url(menu.ttf);
    font-weight: bold;
}

div.letra_takeaway {
    font-family: menuFont;
    text-align: center;		
    font-size: 300%;
    color: white;
}

div.takeaway_tipo {
    font-family: menuFont;
    text-align: center;
    font-size: 25px;
    color: white;
}

div.takeaway_tipo_seleccion {
    font-family: logoFont;
    text-align: center;
    font-size: 25px;
    color: white;
}

#hijo4 {
    margin: 0 auto;    
    background-image: url("fondoBlancoStart.jpg");
    text-align: center;
    top: 35%;
    width: 65%;
    max-height: 600px;
    overflow:auto;
    margin-bottom: 2em;
    border-radius: 16px 16px;
    border-color: #444444;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 7px;
}

#hijo1 {
    margin: 0 auto;    
    background-image: url("fondoBlancoStart.jpg");
    text-align: center;
    top: 35%;
    width: 25%;
    max-height: 600px;
    overflow:auto;
    margin-bottom: 2em;
    border-radius: 16px 16px;
    border-color: #444444;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 7px;
}