// Place all the styles related to the votings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.votings {
    font-family: accionesTitulos;
    text-align: center;	
    font-size: 17px;
    float: left;
    color: black;
    width: 16%;
}

div.accion-votings {
    font-family: accionesFont;
    text-align: center;		
    font-size: 30px;
    color: black;
}